.dash {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.filter form .field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter form .field input, select, button{
    height: 2rem;
}

.filter form button{
    height: 3rem;
    width: 7rem;
    border-radius: 0.5rem;
    background-color: darkviolet;
    color: white;
}

.filter form button:hover{
    font-size: large;   
    background-color: white;
    color: darkviolet;
    transition: 0.5s;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: auto;
}

.contact {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 7rem;
    align-items: center;
    justify-content: center;
    background-color: gold;
    width: 100%;
}

.contact .cp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact button {
    width: 5rem;
    border-radius: 0.5rem;
}

.contact .edit-btn{
    margin-bottom: 0.7rem;
    background-color: aquamarine;
}

.contact .delete-btn{
    background-color: orangered;
    color: white;
}

.contact .delete-btn:hover{
    background-color: white;
    color: orangered;
    font-size: large;
    height: 3rem;
    transition: 0.5s;
}

.contact .edit-btn:hover{
    font-size: large;
    height: 3rem;
    transition: 0.5s;
}

.fam-svg {
    height: 3rem;
    width: 4rem;
}

.pg-links {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 7rem;
    align-items: center;
    justify-content: center;
}

.pg-more {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 7rem;
    align-items: center;
    justify-content: center;
}