.user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: white;
    padding: 1rem;
}

.user .field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user .txt input{
    height: 2rem;
}

.user .num input{
    width: 4rem;
    height: 2rem;
}

.user .field .txt-area{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user.chk{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    padding-top: 2rem;
}

.user button {
    height: 3rem;
    width: 100%;
    color: white;
    grid-column: span 3; 
    cursor: pointer;
    background-color: darkviolet;
    font-size: 1.5rem;
}

.user button:hover {
    background-color: white;
    color: darkviolet
}